.elementor-510 .elementor-element.elementor-element-47d3141>.elementor-container {
	max-width: 1440px;
}

.elementor-510 .elementor-element.elementor-element-47d3141>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-510 .elementor-element.elementor-element-47d3141 {
	margin-top: 0em;
	margin-bottom: -6em;
	z-index: 10;
}

.elementor-510 .elementor-element.elementor-element-ea4fb7f img {
	width: 100%;
	height: 40px;
	object-fit: contain;
	object-position: center center;
}

.elementor-510 .elementor-element.elementor-element-ea4fb7f {
	width: auto;
	max-width: auto;
}

.elementor-510 .elementor-element.elementor-element-2a262d2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-3e8669f>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-510 .elementor-element.elementor-element-3e8669f {
	padding: 5px 0px 5px 0px;
}

.elementor-510 .elementor-element.elementor-element-bb4dab5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-510 .elementor-element.elementor-element-bb4dab5>.elementor-element-populated {
	padding: 0em 2em 0em 0em;
}

.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-icon i {
	color: var(--e-global-color-a291686);
	transition: color 0.3s;
}

.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-a291686);
	transition: fill 0.3s;
}

.elementor-510 .elementor-element.elementor-element-443c198 {
	--e-icon-list-icon-size: 13px;
	--icon-vertical-offset: 0px;
}

.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-112b6c4-font-family), Sans-serif;
	font-size: var(--e-global-typography-112b6c4-font-size);
	font-weight: var(--e-global-typography-112b6c4-font-weight);
	line-height: var(--e-global-typography-112b6c4-line-height);
	letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
	word-spacing: var(--e-global-typography-112b6c4-word-spacing);
}

.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-text {
	color: var(--e-global-color-a291686);
	transition: color 0.3s;
}

.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-icon i {
	color: var(--e-global-color-a291686);
	transition: color 0.3s;
}

.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-a291686);
	transition: fill 0.3s;
}

.elementor-510 .elementor-element.elementor-element-7d226f0 {
	--e-icon-list-icon-size: 13px;
	--icon-vertical-offset: 0px;
}

.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-112b6c4-font-family), Sans-serif;
	font-size: var(--e-global-typography-112b6c4-font-size);
	font-weight: var(--e-global-typography-112b6c4-font-weight);
	line-height: var(--e-global-typography-112b6c4-line-height);
	letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
	word-spacing: var(--e-global-typography-112b6c4-word-spacing);
}

.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-text {
	color: var(--e-global-color-a291686);
	transition: color 0.3s;
}

.elementor-510 .elementor-element.elementor-element-e9b359a>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #FFFFFF78;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-510 .elementor-element.elementor-element-e9b359a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-510 .elementor-element.elementor-element-636a33e {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 12px;
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-510 .elementor-element.elementor-element-636a33e .elementor-widget-container {
	text-align: center;
}

.elementor-510 .elementor-element.elementor-element-636a33e .elementor-social-icon {
	background-color: var(--e-global-color-60c5d49);
}

.elementor-510 .elementor-element.elementor-element-636a33e .elementor-social-icon i {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-636a33e .elementor-social-icon svg {
	fill: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-3230db7>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-510 .elementor-element.elementor-element-3230db7 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #FFFFFF78;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-510 .elementor-element.elementor-element-3230db7>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-510 .elementor-element.elementor-element-b97d2fd>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-container {
	height: 45px;
	border-radius: 0px 0px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a {
	font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
	font-size: var(--e-global-typography-520c191-font-size);
	font-weight: var(--e-global-typography-520c191-font-weight);
	text-transform: var(--e-global-typography-520c191-text-transform);
	line-height: var(--e-global-typography-520c191-line-height);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
	color: var(--e-global-color-a291686);
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--e-global-color-60c5d49);
	padding: 0px 0px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:hover {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:focus {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:active {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li:hover>a {
	color: var(--e-global-color-a291686);
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--e-global-color-accent);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-item>a {
	color: var(--e-global-color-a291686);
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: var(--e-global-color-accent);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-ancestor>a {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li {
	margin: 0px 50px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
	color: var(--e-global-color-a291686);
	fill: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
	color: var(--e-global-color-a291686);
	fill: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
	font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
	font-size: var(--e-global-typography-b2ce6af-font-size);
	line-height: var(--e-global-typography-b2ce6af-line-height);
	letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
	word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
	padding: 10px 15px 10px 15px;
	color: var(--e-global-color-secondary);
	background-color: var(--e-global-color-a291686);
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: var(--e-global-color-308e809);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
	color: var(--e-global-color-secondary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
	color: var(--e-global-color-secondary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
	color: var(--e-global-color-secondary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
	color: var(--e-global-color-secondary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover,
.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus,
.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active,
.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
	background-color: var(--e-global-color-308e809);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
	color: var(--e-global-color-a291686);
	background-color: var(--e-global-color-primary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-submenu-panel {
	padding: 0px 0px 0px 0px;
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: var(--e-global-color-308e809);
	border-radius: 0px 0px 0px 0px;
	min-width: 240 px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger {
	float: right;
	background-color: var(--e-global-color-60c5d49);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
	background-color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger>.ekit-menu-icon {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
	background-color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-close {
	background-color: var(--e-global-color-60c5d49);
	border-style: solid;
	border-color: var(--e-global-color-a185853);
	color: var(--e-global-color-secondary);
}

.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-close:hover {
	color: var(--e-global-color-primary);
}

.elementor-510 .elementor-element.elementor-element-81b3f65.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-510 .elementor-element.elementor-element-81b3f65>.elementor-element-populated {
	margin: 0px 10px 0px 0px;
	--e-column-margin-right: 10px;
	--e-column-margin-left: 0px;
}

.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button {
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button svg {
	max-width: 20px;
}

.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button,
.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_search-button i {
	color: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button svg path,
.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_search-button svg path {
	stroke: var(--e-global-color-a291686);
	fill: var(--e-global-color-a291686);
}

.elementor-510 .elementor-element.elementor-element-d83ce29 {
	width: auto;
	max-width: auto;
}

@media(max-width:1024px) {
	.elementor-510 .elementor-element.elementor-element-50ffdc9.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-510 .elementor-element.elementor-element-ea4fb7f img {
		height: 37px;
	}

	.elementor-510 .elementor-element.elementor-element-2a262d2>.elementor-element-populated {
		padding: 0px 10px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5>.elementor-element-populated {
		padding: 0em 1em 0em 0em;
	}

	.elementor-510 .elementor-element.elementor-element-443c198 {
		--e-icon-list-icon-size: 12px;
	}

	.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 {
		--e-icon-list-icon-size: 12px;
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-636a33e {
		--icon-size: 11px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-container {
		background-color: var(--e-global-color-a291686);
		max-width: 350px;
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-nav-identity-panel {
		padding: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
		color: var(--e-global-color-secondary);
		border-width: 0px 0px 0px 0px;
		padding: 10px 20px 10px 20px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:hover {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:focus {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:active {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li:hover>a {
		color: var(--e-global-color-secondary);
		border-width: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-item>a {
		color: var(--e-global-color-secondary);
		border-width: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-ancestor>a {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li {
		margin: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
		color: var(--e-global-color-secondary);
		fill: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
		color: var(--e-global-color-secondary);
		fill: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
		font-size: var(--e-global-typography-b2ce6af-font-size);
		line-height: var(--e-global-typography-b2ce6af-line-height);
		letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
		word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
		padding: 10px 20px 10px 30px;
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
		color: var(--e-global-color-secondary);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
		color: var(--e-global-color-a291686);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-submenu-panel {
		padding: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel {
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger {
		padding: 2px 0px 0px 0px;
		width: 45px;
		border-radius: 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-hamburger>.ekit-menu-icon {
		font-size: 25px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-close {
		padding: 8px 8px 8px 8px;
		margin: 20px 20px 20px 20px;
		width: 45px;
		border-radius: 0px;
		border-width: 1px 1px 1px 1px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-nav-logo>img {
		max-width: 140px;
		max-height: 60px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-nav-logo {
		padding: 17px 15px 5px 15px;
	}

	.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button {
		font-size: 18px;
	}

	.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button svg {
		max-width: 18px;
	}
}

@media(min-width:768px) {
	.elementor-510 .elementor-element.elementor-element-50ffdc9 {
		width: 20%;
	}

	.elementor-510 .elementor-element.elementor-element-2a262d2 {
		width: 80%;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5 {
		width: 100%;
	}

	.elementor-510 .elementor-element.elementor-element-e9b359a {
		width: 12%;
	}

	.elementor-510 .elementor-element.elementor-element-b97d2fd {
		width: 89.904%;
	}

	.elementor-510 .elementor-element.elementor-element-81b3f65 {
		width: 10%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-510 .elementor-element.elementor-element-50ffdc9 {
		width: 24%;
	}

	.elementor-510 .elementor-element.elementor-element-2a262d2 {
		width: 76%;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5 {
		width: 80%;
	}

	.elementor-510 .elementor-element.elementor-element-e9b359a {
		width: 20%;
	}
}

@media(max-width:767px) {
	.elementor-510 .elementor-element.elementor-element-47d3141 {
		margin-top: 0em;
		margin-bottom: -5em;
	}

	.elementor-510 .elementor-element.elementor-element-50ffdc9 {
		width: 45%;
	}

	.elementor-510 .elementor-element.elementor-element-ea4fb7f img {
		height: 32px;
	}

	.elementor-510 .elementor-element.elementor-element-2a262d2 {
		width: 55%;
	}

	.elementor-510 .elementor-element.elementor-element-2a262d2>.elementor-element-populated {
		padding: 0px 5px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-3e8669f {
		padding: 3px 0px 3px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5 {
		width: 45%;
	}

	.elementor-510 .elementor-element.elementor-element-bb4dab5>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-510 .elementor-element.elementor-element-443c198 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(7px/2);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(7px/2);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(7px/2);
		margin-left: calc(7px/2);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-7px/2);
		margin-left: calc(-7px/2);
	}

	body.rtl .elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-7px/2);
	}

	body:not(.rtl) .elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-7px/2);
	}

	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-510 .elementor-element.elementor-element-7d226f0 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-e9b359a {
		width: 55%;
	}

	.elementor-510 .elementor-element.elementor-element-e9b359a>.elementor-element-populated {
		border-width: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-636a33e {
		--icon-size: 10px;
	}

	.elementor-510 .elementor-element.elementor-element-3230db7 {
		padding: 2px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-b97d2fd {
		width: 80%;
	}

	.elementor-510 .elementor-element.elementor-element-b97d2fd>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-menu-container {
		max-width: 92%;
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav>li>a {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
		font-size: var(--e-global-typography-b2ce6af-font-size);
		line-height: var(--e-global-typography-b2ce6af-line-height);
		letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
		word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
	}

	.elementor-510 .elementor-element.elementor-element-13e3c53 .elementskit-nav-logo>img {
		max-width: 135px;
		max-height: 50px;
	}

	.elementor-510 .elementor-element.elementor-element-81b3f65 {
		width: 20%;
	}

	.elementor-510 .elementor-element.elementor-element-81b3f65>.elementor-element-populated {
		padding: 0em 0em 0em 0em;
	}

	.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button {
		font-size: 16px;
	}

	.elementor-510 .elementor-element.elementor-element-d83ce29 .ekit_navsearch-button svg {
		max-width: 16px;
	}
}